  <div class="flex flex-row flex-wrap justify-center gap-4">

  <app-product-card
    [nombre]="producto1.nombre"
    [imagen]="producto1.imagen"
    [precio]="producto1.precio"
    [stock]="producto1.stock"
  ></app-product-card>

  <app-product-card
    [nombre]="producto2.nombre"
    [imagen]="producto2.imagen"
    [precio]="producto2.precio"
    [stock]="producto2.stock"
  ></app-product-card>

  <app-product-card
    [nombre]="producto3.nombre"
    [imagen]="producto3.imagen"
    [precio]="producto3.precio"
    [stock]="producto3.stock"
  ></app-product-card>

  <app-product-card
    [nombre]="producto4.nombre"
    [imagen]="producto4.imagen"
    [precio]="producto4.precio"
    [stock]="producto4.stock"
  ></app-product-card>

  <app-product-card
    [nombre]="producto5.nombre"
    [imagen]="producto5.imagen"
    [precio]="producto5.precio"
    [stock]="producto5.stock"
  ></app-product-card>
  </div>